:root{
    --primary : #181818
}


* {
    box-sizing: inherit;
    padding: 0 0 ;
    margin: 0 0 ;
}

html {
    font-size:62.5% ;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    
}










/* animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


@keyframes startToEnd {
    0% {
        opacity: 0% ;
        width: 0%;
        
    }
    
    100% {
        opacity: 100% ;
        width: 100%;
    }
}

@keyframes endToStart {
    0% {
        opacity: 100% ;
        width: 100%;
       
    }
    
    100% {
        opacity: 0% ;
        width: 0%;
        height: 0%;
        /* border: 0px black; */
        
    }
}


@keyframes topToBottom {
    0% {
        /* opacity: 0; */
       transform: scaleY(0%);
    }
    

    100% {
        /* opacity: 1; */
        transform: scaleY(1);
    }
}

@keyframes bottomToTop {
    0% {
        opacity: 100% ;
        transform: translateY(0%);
       
    }
    
    100% {
        opacity: 0% ;
        transform: translateY(1);
        /* border: 0px black; */
        
    }
}