.header {
   z-index: 999;
}

.header-nav {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    height: 94px;
    width: 100%;
    
    
}

.header-nav-left {
    
}

.header-nav-left-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-nav-left-item {
    padding-right: 27px;
    position: relative;
    /* z-index: 100; */
   
}

.header-nav-left-item:hover .header-nav-left-item-list {
    animation-name: topToBottom;
    animation-duration: .2s;
    /* transition: .5s; */
    transform-origin: 90%   10% ;
}

.header-nav-left-item-list {
    position: absolute;
    list-style: none;
    top: 110%;
    left: 0%;
    font-size: 1.4rem;
    background-color: var(--primary);
    /* background-color: #888; */
    transition: .1s;
    animation-name:   bottomToTop;
    /* animation-duration: .6s; */
    transform-origin:    10% ;
    visibility: hidden;
}

.header-nav-left-item-list::after {
    content: "";
    position: absolute;
    background-color: var(--primary);
    /* background-color: #888; */
    width: 150vw;
    height: 100%;
    top:20px;
    left: -50vw;
    z-index: -1;
}




.header-nav-left-item-item {
    /* position: relative; */
    margin-top: 40px;
    /* color: #6f6f6f; */
    width: calc(100% + 80px);
    opacity: 50%;
}

.header-nav-left-item-item:hover .header-nav-left-item-item-list{
    visibility: visible;
}

.header-nav-left-item-item-list {
    position: absolute;
    list-style: none;
    left: 200%;
    top: 10.9%;
    visibility: hidden;
}


.header-nav-left-item-item:last-child {
    margin-bottom: 30px;
}

.header-nav-left-item-item:hover {
    opacity: 100%;
}


.header-nav-left-item-item-item {
    width: calc(100% + 500px);
    margin-bottom: 40px;
}


.header-nav-left-item::before {
    content: "";
    position: absolute;
    /* background-color: red; */
    width: 100%;
    height: 70%;
    top: 50%;
}

.header-nav-left-item i {
    font-weight: 1000;
}


.header-nav-img {
    margin-left: 30px;
    width: 6rem;
    margin: 0 60px;
    z-index: 501;

}

.header-nav-img img  {
    width: 100%;
    height: 100%;
    z-index: 500;
}

.header-nav-left-item a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 50;
}

.header-nav-left-item-link::before {
    content: "";
    position: absolute;
    transition: 0.6s;
    
    bottom: -40%;
    width: 0px;
    height: 0px;
    border-radius: 15px;
    transition: .6s;
    animation-name: endToStart;
    animation-duration: .6s;
    /* opacity: 0%; */
    /* overflow: hidden; */
    visibility: hidden;
    border: 0.1px  white solid;

    z-index: 100;
}


.header-nav-left-item:hover .header-nav-left-item-list {
    visibility: visible;
}

.header-nav-left-item-link:hover::before {
   visibility: visible;
   /* border: 0.1px  white solid; */
    /* transition: opancity 0.5s linear; */
    /* transition: 10s; */
    animation-name: startToEnd;
    animation-duration: .6s;
    width: 100%;
    height: 0.05px;
    /* animation: startToEnd .4s ease-in-out; */
    /* animation-direction: alternate;  */
    /* animation-iteration-count: infinite; */
}


.header-nav-left-item i {
    color: rgb(231, 231, 231);
    font-size: 2.5rem;
    margin: 0 10px;
}

.header-nav-left-item i:hover {
    color: white;
}

.header-nav-left-list:last-child {
    margin-right: 40px;
}


/* Container */


/* Slider -1 */

.slider-1 {
    
}

.slides {
    position: relative;
    
}

.slide {
    position: relative;
    width: 1519px;
    height: 753px;
    /* opacity: 0.7; */

    filter: alpha(opacity=80);
   
}

.slide img {
    width: 100%;
    height: 100%;
    /* opacity: 0.7; */
  /* filter: alpha(opacity=80); */
}




.slide-info {
    transition: 1s;
    animation-name:  startToEnd;
    animation-duration: 1s;
    /* position: relative; */
}

.slide-info-1 {
    position: absolute;
    top: 35%;
    left: 8%;
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
}

.slide-info-2 {
    position: absolute;
    top: 40%;
    left: 8%;
    width: 800px;
    height: 100px;
    line-height: 80px;
    color: white;
    font-size: 8rem;
    font-weight: 700;
}


.navigation-auto {
    position: absolute;
   display: flex;
   align-items: flex-end;
   top:90%;
   left: 8.5%;
    
}

.btn {
    /* position: absolute; */
    margin-right: 10px;
    width: 54px;
    color: black;
    background-color: rgba(0,0,0,0.3);
    /* background-color: black; */
    height: 3px;
    border-radius: 20px;
    

}

.btn-hover {
    background-color:black;
    height: 4px;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
}

.arrow-slide-1 {
    position: absolute;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.5);
    top: 70%;
    left: 8.3%;
    padding: 10px 10px;
    border-radius: 50%;
    font: 100;
}

.arrow-slide-1:hover {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
    color: #888;
    /* color: black; */
}


.first {

} 

.second {
    display: none;
}

.third {
    display: none;
}


/* //hexagon */
/* 
.hexagon {
    
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      
} */

.slider-2 {
    
}

.slider-2-img {
   position: relative;
}

.slider-2-img-image {
    /* width: calc(100% /3 ); */
    height: 753px;
}

.slider-2-img-1 {
    position:absolute;
    left: -45%;
    z-index: 5;
    /* width: 722px; */
}

.slider-2-img-2 {
    position: absolute;
    left: -20%;
    z-index: 4;
    /* width: 722px; */
}

.slider-2-img-3 {
    position: absolute;
    z-index: 3;
    right: -20%;
    /* width: 1195px; */
}

.slider-2-img-image img {
    height: 100%;
    width: 100%;
}



/* slider -3 */

.slider-3 {
    position: relative;
    background-color: white;
    height: 650px;
}


.slider-3-img-image {
    /* height: 558px; */
}

.slider-3-img-image img {
    height: 100%;
    width: 100%;
}

.slider-3-img-2 ,
.slider-3-img-3 {
    display: none;
}


.slider-3-nav {
    position: absolute;
    display: flex;
    /* align-items: flex-end; */
    top:70%;
    left: 8.5%;
    cursor: pointer;
    color: #888;
    /* background-color: antiquewhite; */


}

.slider-3-nav-hover {
    color: black;
}

.slider-3-nav div {
    position: relative;
  padding-right: 80px;
  /* margin-right: 5px; */
  font-size: 1.5rem;
 /* padding-top: 10px; */
  /* padding-bottom: 100px; */
}



.slider-3-nav div:before {
    position: absolute;
    content: "";
    border: 0.05px solid #888;
    width: 100%;
    top:180%;
}

.slider-3-nav div::after {
    position: absolute;
    content: "";
    top: 170%;
    border: 0.05px solid transparent;
    width: 100%;
    transition: .5s;
    
    animation-name: endToStart;
    animation-duration: .6s;

}

.slider-3-nav-hover p::after {
    position: absolute;
    content: "";
    top: 170%;
    left: 0%;
    border: 0.1px solid black;
    width: 100%;
  
}

.slider-3-nav div:hover::after {
    border-color: black;
    animation-name: startToEnd;
    animation-duration: .6s;
}



/* .slider-3-nav div label {
    background-color: black;
    width: 50px;
} */

.slider-3-info {
    position: absolute;
    top: 30%;
    left: 8%;
    width: 700px;
    height: 200px;
    /* background-color: #888; */
   
}

.slider-1-info-main {
    position: absolute;
    top: 35%;
    left: 8%;
    width: 800px;
    height: 500px;
    color: white;
}

.slider-1-info-main p,
.slider-3-info p {
    font-size: 3rem;
    margin-bottom: 30px;
}

.slider-1-info-main span,
.slider-3-info span {
    font-size: 8rem;
    font-weight: 700;
    line-height: 80px;
    
}


/* content locator */

.content-locator {
    position: relative;
}

.content-locator-img {
    width:1519px;
    height: 1014;
}

.content-locator-img img {
    width: 100%;
    height: 100%;
}


.content-locator-info {
    position: absolute;
    top: 35%;
    left: 8%;
    width: 700px;
    color: white;
}

.content-locator-info p {
    font-size: 5rem;
    padding-bottom: 30px;
}

.content-locator-info span {
    font-size: 8rem;
    font-weight: 700;
    line-height: 80px;
}

.content-locator i {
    cursor: pointer;
    position: absolute;
    top:60%;
    left: 8.7%;
    padding: 20px 20px;
    /* background-color: aliceblue; */
    border: solid ;
    border-color: white;
    border-radius: 50%;
    font-size: 7rem;
    color: white;

}


/* content news */

.content-news {
    margin-top: 50px;
}

.grid {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.content-news-headers {
    margin-bottom: 50px;
}

.content-news-headers p {

    font-size: 3.2rem;
    margin-bottom: 50px;
}

.content-news-headers span {
    font-size: 11.6rem;
    font-weight: 700;
    line-height: 11.6rem;
   
}

.content-news-img {
    width: 100%;
}

.content-news-img img {
    width: 100%;
    height: 100%;
}

.content-news-list {
    margin-top: 40px;
}

.content-news-item {
    display: flex;
    margin: 50px 0;

}

.content-news-item-img {
    width: 486px;
    height: 214px;
}

.content-news-item-img img {
    width: 100%;
    height: 100%;
}

.content-news-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 40px;
}

.date {
    font-size: 1.4rem;
    font-weight: 300;
}

.text {
    width: 500px;
    font-size: 3.2rem;
    font-weight: 700;
    color: black;
    line-height: 4rem;
    cursor: pointer;
}

.more {
    padding: 20px 70px;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    border: 1px solid #cbcbca;
    cursor: pointer;
}

.more:hover {
    transition: 0.5s;
    background-color: black;
    color: white;

    
}

.content-news-seeall {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.content-news-seeall p {
    /* display: f; */
    padding: 20px 80px;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    border: 1px solid #cbcbca;
    cursor: pointer;
    color: white;
    background-color: black;
}

.content-news-seeall p:hover {
    transition: 0.5s;
    color: black;
    background-color: white;
}
/* footer */



.foooter {
    background-color: #181818;
}

.grid-footer {

    /* margin-top: 50px; */
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.footer-list {
    
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list li {
    cursor: pointer;
    position: relative;
    margin: 50px 0 ;
    font-size: 1.6rem;
}

.footer-list li::after {
    content: "";
    position: absolute;
    border: 1px solid white;
    top: 150%;
    left: 0%;
    width: 100%;
    visibility: hidden;
    animation-name: endToStart;
    animation-duration: .6s;
    transition: .5s;
}

.footer-list li:hover::after {
    
    animation-name: startToEnd;
    animation-duration: .6s;
    visibility: visible;
}



.grid-footer p {
    margin: 0 0 3rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
    width: 1200px;
    /* padding-left: 1rem; */
    /* text-indent: -1rem; */
    /* text-align: start; */
    line-height: 2;
}

.grid-footer p:last-child {
        margin: 0;
        padding-bottom: 50px ;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.8;
        color: white;

}


/* Ask me */

.mess-ask-me {
   
    height: 100vh;
    width: 42.5rem;
    position: absolute;
    top: 0;

    right: -30%;
    background-color: white;


    
    transition: .5s;
}


.mess-header {
    margin-top: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 2.1rem;
    color: black;
}

.close:hover {
    /* font-size: 3rem; */
    font-weight: 700;
}

.mess-content {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e8e8e8;


    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    height: 60vh;

}

.mess-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mess-content p {
    vertical-align: middle;
    padding-left: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    word-spacing: 0.5rem;
    color: black;
    margin: 20px 0;
}


.mess-content-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* overflow-y: scroll; */
    /* overflow: hidden; */
}

.mess-content::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }

.mess-content-item {
    border: 1px solid #e8e8e8;
    margin: 5px 20px;
    display: flex;
    justify-content: center;
}

.mess-content-item:hover {
    transition: .9s;
    border-color: black;
}

.mess-content-item a {

    padding: 15px 0;
    text-decoration: none;
    font-size: 1.7rem;
    line-height: 1.5;
    color: #181818;
}

.mess-footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;
}

.mess-footer input {
    border: 1px solid #ced4da;
    padding: 0 20px;
    height: 5rem;
    width: 77.3%;
    font-size: 1.7rem;
    /* letter-spacing: 0.2rem; */
    color: #d0d0d0
}


.header-nav-left-item i,
.close {
    cursor: pointer;
}


/* SEARCH */

.search {
    position: absolute;
    top :-1500%;
    background-color: #181818;
    color: white;
    left: 0%;
    width: 100vw;
    height: 100vh;
    transition: .9s;
    z-index: 1;
}

.search-header {
    position: absolute;
    top: -13%;
    left: 0%;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100px;
    z-index: 10001;
    
}

.search-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 100px 0;
    z-index: -1;
}
.search-text p{
    margin-bottom: 2.4rem;
        font-size: 3.4rem;
        font-weight: 500;
        line-height: 1;

}

.search-text span {
    margin-bottom: 12rem;
    line-height: 1;
    font-size: 11.6rem;
    font-weight: bold;

}

.search-input {
    width: 100%;
    margin-top: 160px;
    border-bottom: 1px solid #464646;
    display: flex;
    justify-content: space-between;
}

.search-input input {
    border: none;
    /* padding: 1.3rem 0; */
    /* border-bottom: 1px solid #464646; */
    font-size: 2.6rem;
    font-style: italic;
    background-color: transparent;
    /* min-width: 0; */
    color: white;
    width: 100%;
    border-color: transparent;
    outline: none;
}

.search-input span {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;

}


.search-close {
    display: flex;
    align-items: center;
    
}

.search-close  p {
    margin-right: 2rem;
    font-size: 2rem;
    line-height: 2.8rem;
}

.search i {
    font-size: 2rem;
    cursor: pointer;
    font-weight: 1000;
}


/* slider-2 */
#content .slider2 {
    position: relative;
    height: 100vh;
    min-height: 680px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  @media (max-width: 1024px) {
    #content .slider2 {
      display: none;
    }
  }
  #content .slider2 .slides2 {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
  }
  #content .slider2 .slides2 .slide2 {
    position: relative;
    width: 29.2vw;
    height: 100%;
    transition: width 0.5s ease-out;
  }
  #content .slider2 .slides2 .slide2.active {
    width: 60vw;
  }
  #content .slider2 .slides2 .slide2.active .slide2-skew::after {
    opacity: 0;
  }
  
  #content .slider2 .slides2 .slide2 .slide2-skew {
    position: relative;
    width: 100%;
    height: 100%;
    transform: skew(-20deg);
    transform-origin: bottom left;
    background-color: black;
    overflow: hidden;
  }

   
  #content .slider2 .slides2 .slide2 .slide2-skew::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    /* background-color: red; */
    opacity: 1;
  }
  #content .slider2 .slides2 .slide2 .slide2-skew .skew-fix {
    position: relative;
    width: 236%;
    height: 100%;
    transform: skew(20deg);
    transform-origin: bottom left;
  }
  #content .slider2 .slides2 .slide2 .slide2-skew .skew-fix img {
    max-width: unset;
    width: auto;
    height: 100%;
    position: absolute;
    left: 21%;
    bottom: 0;
    transform: translateX(-50%);
  }



   #content .slider2 .slider2-navigation {
    position: absolute;
    z-index: 5;
    top: 17%;
    left: 10%;
    display: flex;
    flex-direction: column;
  }
  #content .slider2 .slider2-navigation .tittle {
    font-size: 3.4rem;
    font-weight: 500;
    color: white;
    margin-bottom: 3.5rem;
    line-height: 1;
  }
  #content .slider2 .slider2-navigation .slider2-navigation-btn {
    display: inline-block;
  }
  #content .slider2 .slider2-navigation .slider2-navigation-btn .btn {
    display: inline-block;
    width: 4.3rem;
    height: 4.3rem;
    cursor: pointer;
  }
  #content .slider2 .slider2-navigation .slider2-navigation-btn .btn:first-child {
    margin-right: 3.4rem;
  }
  #content .slider2 .slider2-navigation .slider2-navigation-btn .btn path {
    stroke: white;
    fill: transparent;
  }
  #content .slider2 .slider2-navigation .slider2-navigation-btn .btn:hover path {
    fill: white;
  }
  #content .slider2 .slider2-navigation .slider2-navigation-btn .btn:hover .icon.on-dark {
    stroke: black;
  }



  #content .slider2 .slide2-text-container {
    position: relative;
    top: 50%;
    right: -9%;
  }
  #content .slider2 .slide2-text-container .text-container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    color: white;
    transform: translateX(-105rem);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.3s ease;
  }
  #content .slider2 .slide2-text-container .text-container.active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-out, opacity 0.5s ease;
  }
  #content .slider2 .slide2-text-container .text-container .name-car {
    font-size: 11.6rem;
    font-weight: 700;
    line-height: 1.2;
  }
  #content .slider2 .slide2-text-container .text-container .slogan-car {
    font-size: 3.2rem;
    font-weight: 500;
  }

  
  #content .slider2 .slide2-text-container .slider2-explore {
    position: relative;
    top: 250px;
    left: -4px;
    display: flex;
    padding-left: 1rem;
  }
  #content .slider2 .slide2-text-container .slider2-explore-icon {
    display: block;
    width: 4.3rem;
    height: 4.3rem;
    margin-right: 2.5rem;
    cursor: pointer;
  }
  #content .slider2 .slide2-text-container .slider2-explore-icon path {
    fill: transparent;
    stroke: white;
  }
  #content .slider2 .slide2-text-container .slider2-explore-icon:hover path {
    fill: white;
  }
  #content .slider2 .slide2-text-container .slider2-explore-icon:hover .icon.on-dark path {
    stroke: black;
  }
  #content .slider2 .slide2-text-container .slider2-explore-text {
    font-size: 1.6rem;
    font-weight: 300;
    color: white;
    line-height: 2.5rem;
  } 








