.header {
   
}

.header-nav {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    height: 94px;
    width: 100%;
    
    
}

.header-nav-left {
    
}

.header-nav-left-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-nav-left-item {
    padding-right: 27px;
    position: relative;
    /* z-index: 100; */
   
}

.header-nav-left-item:hover .header-nav-left-item-list {
    animation-name: topToBottom;
    animation-duration: .2s;
    transform-origin: 90%   10% ;
}

.header-nav-left-item-list {
    position: absolute;
    list-style: none;
    top: 110%;
    left: 0%;
    font-size: 1.4rem;
    background-color: var(--primary);
    /* background-color: #888; */
    transition: .1s;
    animation-name:   bottomToTop;
    /* animation-duration: .6s; */
    transform-origin:    10% ;
    visibility: hidden;
}

.header-nav-left-item-list::after {
    content: "";
    position: absolute;
    background-color: var(--primary);
    /* background-color: #888; */
    width: 150vw;
    height: 100%;
    top:20px;
    left: -50vw;
    z-index: -1;
}




.header-nav-left-item-item {
    /* position: relative; */
    margin-top: 40px;
    /* color: #6f6f6f; */
    width: calc(100% + 80px);
    opacity: 50%;
}

.header-nav-left-item-item:hover .header-nav-left-item-item-list{
    visibility: visible;
}

.header-nav-left-item-item-list {
    position: absolute;
    list-style: none;
    left: 200%;
    top: 10.9%;
    visibility: hidden;
}


.header-nav-left-item-item:last-child {
    margin-bottom: 30px;
}

.header-nav-left-item-item:hover {
    opacity: 100%;
}


.header-nav-left-item-item-item {
    width: calc(100% + 500px);
    margin-bottom: 40px;
}


.header-nav-left-item::before {
    content: "";
    position: absolute;
    /* background-color: red; */
    width: 100%;
    height: 70%;
    top: 50%;
}


.header-nav-img {
    margin-left: 30px;
    width: 6rem;
    margin: 0 60px;
    z-index: 501;

}

.header-nav-img img  {
    width: 100%;
    height: 100%;
    z-index: 500;
}

.header-nav-left-item a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 50;
}

.header-nav-left-item-link::before {
    content: "";
    position: absolute;
    transition: 0.6s;
    
    bottom: -40%;
    width: 0px;
    height: 0px;
    border-radius: 15px;
    animation-name: endToStart;
    animation-duration: .6s;
    /* opacity: 0%; */
    /* overflow: hidden; */
    visibility: hidden;
    border: 0.1px  white solid;

    z-index: 100;
}


.header-nav-left-item:hover .header-nav-left-item-list {
    visibility: visible;
}

.header-nav-left-item-link:hover::before {
   visibility: visible;
   /* border: 0.1px  white solid; */
    /* transition: opancity 0.5s linear; */
    /* transition: 10s; */
    animation-name: startToEnd;
    animation-duration: .6s;
    width: 100%;
    height: 0.05px;
    /* animation: startToEnd .4s ease-in-out; */
    /* animation-direction: alternate;  */
    /* animation-iteration-count: infinite; */
}


.header-nav-left-item i {
    color: rgb(231, 231, 231);
    font-size: 2.5rem;
    margin: 0 10px;
}

.header-nav-left-item i:hover {
    color: white;
}

.header-nav-left-list:last-child {
    margin-right: 40px;
}


/* Container */


/* Slider -1 */

.slider-1 {
    
}

.slides {
    position: relative;
    
}

.slide {
    position: relative;
    width: 1519px;
    height: 753px;
    /* opacity: 0.7; */

    filter: alpha(opacity=80);
   
}

.slide img {
    width: 100%;
    height: 100%;
    /* opacity: 0.7; */
  /* filter: alpha(opacity=80); */
}

.slide-info {
    /* position: relative; */
}

.slide-info-1 {
    position: absolute;
    top: 35%;
    left: 8%;
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
}

.slide-info-2 {
    position: absolute;
    top: 40%;
    left: 8%;
    width: 800px;
    height: 100px;
    line-height: 80px;
    color: white;
    font-size: 8rem;
    font-weight: 700;
}


.navigation-auto {
    position: absolute;
   display: flex;
   align-items: flex-end;
   top:90%;
   left: 8.5%;
    
}

.btn {
    /* position: absolute; */
    margin-right: 10px;
    width: 54px;
    background-color: rgba(0,0,0,0.3);
    /* background-color: black; */
    height: 3px;
    border-radius: 20px;
    

}

.btn-hover {
    background-color:black;
    height: 4px;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
}

.arrow-slide-1 {
    position: absolute;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.5);
    top: 70%;
    left: 8.3%;
    padding: 10px 10px;
    border-radius: 50%;
    font: 100;
}

.arrow-slide-1:hover {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
    color: #888;
    /* color: black; */
}


.first {

} 

.second {
    display: none;
}

.third {
    display: none;
}


/* //hexagon */
/* 
.hexagon {
    
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      
} */

.slider-2 {
    height: 100%;
    width: 100%;
    background-color: white;
}






