

.header-nav {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    height: 94px;
    width: 100%;
    
    
}

.header-nav-left {
    
}

.header-nav-left-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-nav-left-item {
    margin-left: 27px;
}

.header-nav-img {
    width: 6rem;
    margin: 0 30px;

}

.header-nav-img img  {
    width: 100%;
    height: 100%;
}

.header-nav-left-item a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 50;
}

.header-nav-left-item a::before {
    content: "";
    position: absolute;
    border: 0.1px  white solid;
    bottom: -40%;
    width: 100%;
    height: 0.05px;

}


.header-nav-left-item i {
    color: rgb(231, 231, 231);
    font-size: 2.5rem;
    margin: 0 10px;
}

.header-nav-left-item i:hover {
    color: white;
}

.header-nav-left-list:last-child {
    margin-right: 40px;
}


/* Container */


/* Slider -1 */

.slider-1 {

}

.slides {
    position: relative;
}

.slide {
    position: relative;
    height: 753px;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide-info {
    /* position: relative; */
}

.slide-info-1 {
    position: absolute;
    top: 39%;
    left: 8%;
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
}

.slide-info-2 {
    position: absolute;
    top: 45%;
    left: 8%;
    width: 800px;
    height: 100px;
    line-height: 80px;
    color: white;
    font-size: 8rem;
    font-weight: 700;
}

.navigation-auto {
    position: absolute;
   display: flex;
   align-items: flex-end;
   top:90%;
   left: 8.5%;
    
}

.btn {
    /* position: absolute; */
    margin-right: 10px;
    width: 54px;
    background-color:rgb(157, 157, 157);
    height: 2px;
    

}

.btn-hover {
    background-color: white;
    height: 3px;
}





